{% extends 'main/base.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="order-create">
            <div class="container">
                <h1 class="order-create__title">Оформление заказа</h1>
                <div class="order-create__inner">
                    <div class="contacts">
                        <h2 class="contacts__title">Контактные данные получателя</h2>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}