{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'vendor/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/css/all.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <title>{{ title }}</title>

    {% block css %} {% endblock %}
</head>
<body>
<header class="header">
    <div class="header__container">
        <a href="/" class="header__link">
            <p>Arctic</p>
            <span>Интернет-магазин электроники</span>
        </a>
        <div class="header__center">
            <a href="{% url 'products:catalog-list' %}" class="header__button">
                <i class="fa-solid fa-grid-2-plus"></i>
                <span>Каталог товаров</span>
            </a>
            <div class="header__search">
                <input type="text" class="header__input" placeholder="Поиск...">
            </div>
        </div>
        <div class="header__actions">
            {% if user.is_authenticated %}
                <a href="{% url 'users:profile' user.id %}" class="header__user">
                    <i class="fa-regular fa-user"></i>
                    <span>{{ user.first_name }}</span>
                </a>
            {% else %}
                <a href="{% url 'users:login' %}" class="header__user">
                    <i class="fa-regular fa-user"></i>
                    <span>Войти</span>
                </a>
            {% endif %}
            <a href="{% url 'products:baskets' %}" class="header__cart">
                <i class="fa-regular fa-regular fa-cart-shopping">
                    <span class="header__cart-count">{{ baskets.total_quantity|default:0 }}</span>
                </i>
                <span class="header__cart-title">Корзина</span>
            </a>
            <a id="favorites-open" class="header__favorites">
                <i class="fa-regular fa-heart">
                    <span class="header__favorites-count">{{ favorites_quantity|default:0 }}</span>
                </i>
                <span class="header__favorites-title">Избранное</span>
            </a>
        </div>
    </div>
</header>

{% block content %}

{% endblock %}

</body>
</html>