{% extends 'main/base.html' %}
{% load socialaccount %}
{% block content %}
    <main>
        <div class="login">
            <div class="container">
                <div class="inner">
                    <div class="login__header">
                        <h1 class="login__title">Авторизация</h1>
                    </div>
                    <div class="user-form">
                        <form action="{% url 'users:login' %}" method="post">
                            {% csrf_token %}
                            <div class="group">
                                <div class="user-form__group">
                                    <label for="{{ form.email.id_for_label }}" class="user-form__label">Email</label>
                                    {{ form.email }}
                                </div>
                                <div class="user-form__group">
                                    <label for="{{ form.password.id_for_label }}"
                                           class="user-form__label">Пароль</label>
                                    {{ form.password }}
                                </div>
                                <div class="user-form__forgot">
                                    <a href="" class="forgot">Забыли пароль?</a>
                                </div>
                            </div>
                            <div class="user-form__button">
                                <button class="form-button" type="submit">Войти</button>
                                <a href="{% url 'users:registration' %}" class="form-button link">Зарегистрироваться</a>
                            </div>
                        </form>
                    </div>
                    <div class="auth-via">
                        <a href="{% provider_login_url 'github' %}" class="auth-via-link">
                            <span>GitHub</span>
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="" class="auth-via-link">
                            <span>Google</span>
                            <i class="fa-brands fa-google"></i>
                        </a>
                        <a href="" class="auth-via-link">
                            <span>Яндекс</span>
                            <i class="fa-brands fa-yandex"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}