{% extends 'products/base.html' %}
{% load static %}

{% block content %}
    <section class="section">
        <div class="container">
            <h3 class="section__title">Категории</h3>
            <div class="category-main-page">
                <ul class="category-main-page__list">
                    {% for category in categories|slice:"8" %}
                        <li class="category-main-page__item">
                            <a href="{% url 'products:category' category.id %}" class="category-main-page__link">
                                <div class="category-main-page__card">
                                    {% if category.image %}
                                        <img src="{{ category.image.url }}" alt="{{ category.name }}" width="128"
                                             height="128" class="category-main-page__image">
                                    {% else %}
                                        <img src="{% static 'default-category.png' %}" alt="Нет изображения" width="128"
                                             height="128" class="category-main-page__image">
                                    {% endif %}
                                </div>
                                <div class="category-main-page__name">{{ category.name }}</div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h3 class="section__title">Бренды</h3>
            <div class="brand-main-page">
                <ul class="brand-main-page__list">
                    {% for brand in brands %}
                    <li class="brand-main-page__item">
                        <a href="" class="brand-main-page__link">
                            <div class="brand-main-page__card">
                                <img src="{{ brand.logo.url }}" alt="{{ brand.name }}" width="128" height="128" class="brand-main-page__image">
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>

{% endblock %}
